body {
  font-family: sans-serif;
  margin: 0px;
  height: 100%;
  background: #292828;
  color: white !important;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.wrapper-app {
  padding: 20px 20px 0px 20px;
}
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.logo img {
  width: 60px;
  height: 38px;
}

ul.menu-list li {
  margin-right: 8px;
  color: #c5bebe;
}

.section h1 {
  color: white;
  border-bottom: 2px solid #ffffff69;
  padding-bottom: 10px;
}

.movie-list {
  display: flex;
}

.movie-item {
  height: 400px;
  display: grid;
}

.movie-image img {
  width: 250px;
  height: 350px;
  
}
.movie-image{
  position: relative;
}

.movie-item div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title {
  color: white;
  font-size: 23px;
}

.rating {
  position: absolute;
  bottom: 10px;
}

.dv-star-rating {
  font-size: 20px;
}


#login-dropdown-list {
  top: 25px !important;
  left: auto !important;
  right: 1px !important;
  /* bottom: 1px; */
}

.movie-title {
  font-size: 28px;
  color: black;
  text-align: center;
}

.commentList {
  background: #e0e0e0;
  padding: 20px;
}